<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="IscobolConfigurationType">
    <stringAttribute key="arguments" value=""/>
    <stringAttribute key="outdir" value="W:/SAV/ws_sav_2022/savReport/output"/>
    <stringAttribute key="process_factory_id" value="com.iscobol.plugins.processFactory"/>
    <stringAttribute key="progname" value="CRECX1"/>
    <stringAttribute key="projectname" value="savReport"/>
    <stringAttribute key="systemprops" value="-XX:ErrorFile=../logs/java_error%p.log"/>
    <booleanAttribute key="utilityprop" value="false"/>
    <booleanAttribute key="wd2" value="false"/>
    <stringAttribute key="workdir" value="output"/>
</launchConfiguration>
